.ion-header{
  color: #ffffff;
  margin-left: -48px;
  text-align: center;
  background: #3880ff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.mapbutton{
  margin-top: 25%;
  margin-left: 10%;
  width: 80%;
}
