.ion-header{
  padding-top: 5%;
  padding-bottom: 5%;
  color: #ffffff;
  margin-left: -48px;
  text-align: center;
  background: #3880ff;

}

.backbutton{
  margin-left: 0%;
  color: #ffffff;

}
.header{
  background: #3880ff;

}


.mapbutton{
  margin-left: 28%;
  width: 30%;

}
.userdetail{
  margin-top: 10px;
}

.username{

  text-align: center;
}

.userface{
  margin-left: 32.5%;
  width: 35%;
  height: 55%;
}

.usercard{
  padding-top: 5%;
  padding-bottom: 5%;
  //background: #70ddff;

}

.mail {
  margin-left: 28%;
  padding-bottom: 2%;
}
